header {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-bottom: 3.5rem;
}
.header-center {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left {
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 0px 0px 5px -2px black;
}
.account-image {
  height: 100%;
  width: 100%;
  transform: scale(1.02);
  transform-origin: center;
  object-fit: cover;
  object-position: center;
}
