<header>
  <div class="presentation">
    <span>
      Blog de Adrian Alejandro González Domínguez
    </span>
  </div>
  <div class="header-center">
    <img
      routerLink="/"
      class="header-logo"
      src="/assets/icons/logo-1.svg"
      alt="The Thinker Learner logo picture"
    />
  </div>
  <!-- <div class="header-left">
    <div class="tools-container mx-3">
      <button class="tool-button" routerLink="/news/create">
        <img
          class="tool-image"
          src="https://cdn-icons-png.flaticon.com/512/1057/1057061.png"
          alt="Add news picture"
        />
      </button>
    </div>
    <div class="account">
      <img
        class="account-image"
        src="https://cdn-icons-png.flaticon.com/512/2499/2499318.png"
        alt="User default picture"
      />
    </div>
  </div> -->
</header>
