<div class="news-card-container">
  <div class="image-background">
    <img
      src="https://imgs.search.brave.com/k6Ya0l7mrxflaJyr0uGJUMl2llatwo-nyDmb8Msl7T4/rs:fit:720:440:1/g:ce/aHR0cHM6Ly9lbGFu/ZHJvaWRlZmVsaXou/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0L1F1ZS1l/cy11bi1TU0QtTTIt/Y2FyYWN0ZXJpc3Rp/Y2FzLXZlbnRhamFz/LXktZGVzdmVudGFq/YXMuanBn"
      alt="Image example"
    />
  </div>
  <h2 class="news-title">
    <img
      class="shape-bg"
      src="/assets/icons/shape-1.svg"
      alt="Title background"
    />
    This is an example title
  </h2>
</div>
