<ng-template [ngIf]="this.newsObject">
  <div class="news-container container">
    <div class="news-banner mb-4">
      <div class="date">
        <div class="badge">
          {{ newsObject.createdAt | date:'h:mm a - dd/MM/YYYY' }}
        </div>
      </div>
      <div class="image-background">
        <div class="banner-shadow"></div>
        <img
          src="{{newsObject.picture}}"
          alt="Image example"
        />
      </div>
      <h2 class="news-title">
        <img
          class="shape-bg"
          src="/assets/icons/shape-1.svg"
          alt="Title background"
        />
        <!-- <span> This is an example title </span> -->
        <span>
          {{newsObject.title}}
        </span>
      </h2>
    </div>
  
    <div class="news-content container">
      <markdown ngPreserv  eWhitespaces [data]="newsObject.content"> </markdown>
    </div>
  </div>
</ng-template>
