@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Nabla&family=Exo:wght@400;900&display=swap');
h1,h2,h3,h4,h5,h6,
h1 *,h2 *,h3 *,h4 *,h5 *,h6 *{
  /* font-family: 'Nabla', cursive; */
  font-family: 'Exo', sans-serif;
}

:root {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
}

