:host {
  /* border-radius: inherit; */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
}

.img-container {
  /*
      Is absolutely necesary set the size and the height of the <atom-image-container> in the place were is used.
  */
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  border-radius: inherit;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);*/
  /* top: 50%; */
  left: 50%;
  padding: 0;
  margin: 0;
}
::ng-deep .img-container > img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  object-fit: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
