.news-banner {
  position: relative;
  height: 320px;
  transition: all ease 0.2s;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: -5px -5px 5px -10px rgba(15, 15, 15, 0.4);
}
.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-background .banner-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: inset 0px -3rem 2rem -1rem var(--color-bg-2) !important;
  background: transparent;
}
.image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news-title {
  /* border: 2px solid #000000; */
  margin: 0;
  /* max-width: 50%; */
  width: 40%;

  font-weight: 600;
  position: absolute;
  z-index: 100;
  bottom: 0.2rem;
  right: 0.3rem;
}
.news-title .input-title {
  border-radius: 8px;
  width: 100%;
  text-align: end;
  overflow: auto;
  resize: none;

  transform: matrix(1, 0.04, -0.04, 1, 0, 0);
  transform-origin: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: var(--color-text-1);
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    2px 2px 0 #000000, -3px 0 0 #000000, 3px 0 0 #000000, 0 3px 0 #000000,
    0 -3px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000,
    -3px 3px 0 #000000, 3px 3px 0 #000000, -4px 0 0 #000000, 4px 0 0 #000000,
    0 4px 0 #000000, 0 -4px 0 #000000;
}
.news-title .input-title::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
}
.news-title .input-title:focus-visible {
  /* border-bottom: 1px solid var(--color-gray-1); */

  transform: matrix(1, 0.04, -0.04, 1, 0, 0) scale(1.02);
  box-shadow: inset -1px -1px 0px 0px var(--color-gray-1);
  outline: none;
}
.news-title .shape-bg {
  position: absolute;
  bottom: -0.2rem;
  right: -0.3rem;
  width: calc(105% + 0.5rem);
  height: calc(120% + 1rem);
  object-fit: cover;
  object-position: 0 0;
  z-index: -1;
  overflow: visible;
}
.news-content-input {
  margin-bottom: 2rem;
}
.news-content-preview {
  font-weight: 400;
  /* line-height: 140%; */

  text-align: left;
  letter-spacing: 0.01em;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-bg-1);
  position: relative;
}
.preview-tag{
  background: rgb(15,50,36);
  background: linear-gradient(-90deg, rgb(7, 57, 37) 14%, rgba(35,80,82,1) 100%);
  color: rgb(138, 202, 167);
  font-size: small;
  font-weight: 700;
  position: absolute;
  top: -12px;
  right: 0px;
  border-radius: 16px 16px 0px 16px;
  padding: 2px 8px;
}

.image-dropzone {
  /* margin-left: 1rem; */
  width: 100%;
  /* min-width: 200px; */
  height: 100%;
  /* background: rgb(198, 198, 198); */
  position: relative;
  display: flex;
  justify-content: center;
}
.image-dropzone > * {
  width: 100%;
  height: 100%;
}
.image-dropzone > app-image-input {
  position: absolute;
}
.image-dropzone ::ng-deep ngx-dropzone {
  border: 4px dashed #ffffff;
}

.image-dropzone ::ng-deep ngx-dropzone * {
  font-family: 'Tourney', cursive;
  font-weight: 900;
}

.buttons-section{
  margin-top: 2rem;
  gap: 10px;
  font-weight: 700;
}
.buttons-section button{
  font-weight: 700;
  font-size: large;
  margin: 5px;
  border-radius: 0px 1rem 0px 1rem;
  padding: 0.5rem 1rem;
}

.buttons-section button.cancel{
  font-weight: 700;
  font-size: large;
  margin: 5px;
  border-radius: 0px 1rem 0px 1rem;
  padding: 0.5rem 1rem;
}

/* MARKDOWN EDITOR STYLES */

::ng-deep md-editor .md-editor-container .md-layout .tool-bar{
  background-color: var(--color-bg-1) !important;
  border-radius: 10px 10px 0px 0px;
  color: white;
}
::ng-deep md-editor .md-editor-container .md-layout .tool-bar *{
  color: white;
}

::ng-deep md-editor .ace-tm{
  background: var(--color-bg-4) !important;
  color: white;
} 
::ng-deep md-editor .ace-tm .ace_cursor{
  color: gray ;
} 
::ng-deep md-editor .ace-tm .ace_print-margin{
  display: none;
} 
::ng-deep md-editor .preview-panel{
  background: var(--color-bg-2) !important;
  color: white;
} 
::ng-deep md-editor .ace_gutter{
  background: var(--color-bg-3) !important;
} 
::ng-deep md-editor .ace_gutter-cell {
  padding: 0px 5px;
  color: gray;
}
::ng-deep md-editor .ace-tm .ace_marker-layer .ace_active-line {
  background-color: var(--color-bg-3);
}
::ng-deep md-editor .ace-tm .ace_gutter-active-line {
  background-color: unset;
  background: rgb(5,44,77);
  background: linear-gradient(90deg, rgba(5,44,77,1) 98%, rgba(81,84,84,1) 100%);
  border-radius: 5px 0px 0px 5px;
}
::ng-deep md-editor .md-footer {
  background-color: var(--color-bg-1) !important;
  border-radius: 0px 0px 10px 10px;
  padding: 2px 10px;
}
::ng-deep md-editor .md-editor-container .md-layout .md-footer .length-view{
  padding: 0px!important;
}
::ng-deep md-editor .md-editor-container .md-layout .tool-bar .btn-group:nth-last-child(2){
  display: none;
}