<div class="container px-4">
  <div class="news-banner mb-4">
    <div class="image-background">
      <div class="image-dropzone">
        <app-image-container class="image-field">
          <img
            src="https://images.pexels.com/photos/13484865/pexels-photo-13484865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          />
        </app-image-container>
        <app-image-input
          [multiple]="false"
          [inputStyle]="'fill'"
          [message]="'Upload a main picture for the news'"
        ></app-image-input>
      </div>
      <div class="banner-shadow"></div>
      <img
        src="https://imgs.search.brave.com/k6Ya0l7mrxflaJyr0uGJUMl2llatwo-nyDmb8Msl7T4/rs:fit:720:440:1/g:ce/aHR0cHM6Ly9lbGFu/ZHJvaWRlZmVsaXou/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0L1F1ZS1l/cy11bi1TU0QtTTIt/Y2FyYWN0ZXJpc3Rp/Y2FzLXZlbnRhamFz/LXktZGVzdmVudGFq/YXMuanBn"
        alt="Image example"
      />
    </div>
    <h2 class="news-title">
      <img
        class="shape-bg"
        src="/assets/icons/shape-1.svg"
        alt="Title background"
      />
      <textarea
        class="input-title"
        name=""
        id=""
        rows="2"
        maxlength="80"
        placeholder="News title"
      ></textarea>
    </h2>
  </div>

  <div class="news-content container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
      laudantium ex veritatis incidunt, adipisci maiores consequatur iste earum,
      magni provident ratione totam delectus facere excepturi porro blanditiis
      tenetur illum nesciunt. Natus quaerat est eaque consectetur deleniti
      praesentium vero dolor assumenda sapiente sint doloremque ratione
      consequatur ipsum fugit excepturi, quod quidem reiciendis illum at, ipsam
      totam. Voluptas ullam quidem accusamus aperiam? Nesciunt culpa nihil in
      dolore qui? Dicta est quasi magni, inventore saepe velit optio quaerat?
      Omnis, incidunt dignissimos. Accusantium alias illum aspernatur eum earum
      cupiditate quibusdam laborum nulla deleniti aperiam. Obcaecati expedita,
      ullam placeat in error deleniti omnis odit ratione quas quia aperiam!
      Ducimus eius veritatis blanditiis, cumque deserunt illo harum sed et iure
      reiciendis! Necessitatibus minima odio tempore cumque! Et quo praesentium
      eos? Illo dignissimos tempore nemo earum dicta magni est nulla iusto
      maxime molestiae autem temporibus hic facere a, tenetur recusandae. Cum
      natus, culpa repudiandae amet quis illo. Placeat molestiae quam, odit iste
      voluptate, quia accusamus maxime tempora dicta nobis sapiente officia,
      reprehenderit blanditiis necessitatibus praesentium obcaecati repudiandae
      inventore recusandae. Consequuntur odio corporis sit doloribus fuga
      officiis optio. Quam ad similique laborum voluptatum ea eum itaque
      laboriosam, consequatur doloribus in aspernatur nisi vitae aut incidunt ab
      temporibus porro? Similique maxime facilis eveniet harum saepe mollitia
      quisquam culpa rerum. Fugit minus dolores nesciunt accusantium neque magni
      commodi aliquam corporis, optio aut fuga sit porro cupiditate inventore
      quasi mollitia. Soluta nemo minus, deleniti quam ipsam nesciunt quas
      voluptas quos possimus. Eius, ea sequi voluptatem laborum accusantium,
      ratione amet odio assumenda minus molestias eligendi omnis fugit. Et
      tempora eaque fuga eos ut commodi! Molestiae, incidunt. Molestias eveniet
      fugiat odio deleniti expedita. Possimus, eius magnam nobis error incidunt
      unde laudantium accusantium totam atque velit ut mollitia consequatur!
      Doloremque id soluta et harum, dolorem minus sit ratione in suscipit sequi
      iure expedita unde! Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Ipsa eligendi rerum vel hic ullam optio odio provident ex veniam
      nulla fugit, explicabo iste, obcaecati quidem inventore delectus numquam
      saepe voluptates? Quidem dicta excepturi reprehenderit error, rem atque
      aliquid eos neque alias nostrum nemo iusto saepe non ullam ipsum, debitis
      repudiandae. Aperiam tempore corporis possimus! Accusamus ipsa sed eveniet
      debitis aperiam. Ullam odio rerum similique accusamus deserunt possimus?
      Aspernatur voluptas quis consectetur! Similique aut, voluptatibus
      exercitationem quia excepturi obcaecati molestias debitis, aliquid iure
      ipsam aperiam beatae soluta quod, eos pariatur placeat. Nostrum est totam
      animi, sequi praesentium quis beatae in neque, nulla optio earum ipsa
      dolor dolorum molestias, quaerat quos quae cum ratione doloribus. Officiis
      quibusdam eum odio aspernatur blanditiis minima. Labore numquam magnam
      quibusdam quos non velit quisquam eligendi alias tempora sint, corrupti
      neque vel culpa accusamus tenetur? Eos sint facere sed quos aliquid rerum
      officiis esse quisquam perferendis saepe? Eligendi molestiae molestias
      blanditiis asperiores corporis adipisci vitae optio sit architecto ducimus
      qui repudiandae, deleniti ex itaque commodi temporibus! Sunt similique
      necessitatibus animi voluptates eum veniam eius, ullam suscipit impedit?
      Dolorem, enim amet magnam nam labore doloremque dicta, minus quas nesciunt
      maiores aspernatur tenetur cumque debitis ut! Dolores vitae voluptatum
      deserunt neque. Eveniet laudantium ipsa nostrum id omnis, assumenda
      repellat. Repudiandae a laboriosam non ipsam aperiam soluta, hic quos modi
      perferendis deserunt nemo iure id suscipit eligendi ea tenetur impedit,
      sed pariatur totam error eos qui. Omnis quasi harum suscipit? Reiciendis
      officiis voluptate tempore molestias voluptatum, cupiditate debitis,
      veniam asperiores corporis doloremque saepe amet quasi enim laborum
      recusandae omnis consectetur soluta temporibus! Similique, consequatur
      recusandae. Reprehenderit ratione voluptatum est facilis? Deleniti,
      laborum. Mollitia ratione, dolorem quis, sunt illo odio assumenda tenetur
      alias quisquam numquam nobis voluptate soluta earum perspiciatis dicta
      reiciendis sequi maxime! Cumque iure, sed recusandae consequatur natus
      inventore.
    </p>
  </div>
</div>
