<div class="container px-4">
  <div class="news-banner mb-4">
    <div class="image-background">
      <div class="image-dropzone">
        <app-image-container class="image-field">
          <img
            src="https://images.pexels.com/photos/13484865/pexels-photo-13484865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          />
        </app-image-container>
        <app-image-input
          [multiple]="false"
          [inputStyle]="'fill'"
          [message]="'Upload a main picture for the news'"
        ></app-image-input>
      </div>
      <div class="banner-shadow"></div>
      <img
        src="https://imgs.search.brave.com/k6Ya0l7mrxflaJyr0uGJUMl2llatwo-nyDmb8Msl7T4/rs:fit:720:440:1/g:ce/aHR0cHM6Ly9lbGFu/ZHJvaWRlZmVsaXou/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0L1F1ZS1l/cy11bi1TU0QtTTIt/Y2FyYWN0ZXJpc3Rp/Y2FzLXZlbnRhamFz/LXktZGVzdmVudGFq/YXMuanBn"
        alt="Image example"
      />
    </div>
    <h2 class="news-title">
      <img
        class="shape-bg"
        src="/assets/icons/shape-1.svg"
        alt="Title background"
      />
      <textarea
        class="input-title"
        name=""
        id=""
        rows="2"
        maxlength="80"
        placeholder="News title"
        [(ngModel)]="newsToCreate.title"
      ></textarea>
    </h2>
  </div>

  <div class="news-content-input">
    <input type="url" class="form-control" placeholder="URL image" [(ngModel)]="newsToCreate.picture">

    <md-editor
      name="Content"
      [mode]="'editor'"
      [options]="mdEditorOptions"
      [(ngModel)]="newsContent"
      maxlength="500"
    ></md-editor>
  </div>

  <div class="container">
    <div class="news-content-preview">
      <div class="preview-tag">Preview</div>
      <markdown ngPreserv  eWhitespaces [data]="newsToCreate.content"> </markdown>
    </div>
  </div>
  <div class="buttons-section">
    <hr>
    <button class="cancel btn btn-danger float-left">Cancel</button>
    <button class="confirm btn btn-success float-end" (click)="createNews()">Save and publish</button>
    <button class="draft btn btn-primary float-end">Save as a draft</button>
  </div>
</div>
